@charset "utf-8";
.main {
	background-color: #CFF;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.header {
	float: left;
	height: 250px;
	width: 100%;
}
.container {
	float: left;
	width: 100%;
}
.footer {
	float: left;
	width: 100%;
}
.footer {
	float: left;
	width: 100%;
	text-align: center;
	font-style: italic;
	color: #99CCFF;
	font-weight: bolder;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
